# Carpeta de descargas de EXPEDIENTES
EXPEDIENTES/

# Archivos de configuración y caché
__pycache__/
*.pyc
.env
settings.json
EXCELES_POR_AÑO/
venv
venv311
data/sentencia-raw/*
data/auto-resolucion-raw/
data/chroma_storage/